{% extends 'meetups/base/base.html'%} {% load static %} {% block title%} All meetups{% endblock %} {% block site_css %}
<link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css' %}"> {% endblock %}
<link rel="stylesheet" href="{% static 'meetups/styles/base.css' %}"> {% block main_heading %}we got great meetups coming up{% endblock %} {% block main_content %}
<p>find the one that best suits your needs</p>{% endblock %} {% block body %}
<section>
    <ol>
        {% for meetup_items in meetups%}
        <li class="meetup-item">
            <article>
                <div class="meetup-summary">
                    <div class="meetup-image">
                        <img src="" alt="">
                    </div>
                    <div class="meetup-details">
                        <h3>{{meetup_items.title}}</h3>
                        <address>{{meetup_items.location}}</address>
                    </div>
                </div>
                <div class="meetup-actions">
                    <a href="{% url 'meetup-detail' meetup_items.slug %}" class="btn">More details</a>
                </div>
            </article>
        </li>
        {% endfor %}
    </ol>
</section>{% endblock %}