{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All meetups</title>
    <link rel="stylesheet" href="{% static 'meetups/styles/base.css' %}">
</head>

<body>
    <header>
        <nav>
            <a href="/meetups">Meetups</a>
            <h1>we got great meetups coming up</h1>
            <p>find the one that best suits your needs</p>
        </nav>
    </header>
    <main>
        <section>
            <ol>
                {% for meetup_items in meetups%}
                <li class="meetup-item">
                    <article>
                        <div class="meetup-summary">
                            <div class="meetup-image">
                                <img src="" alt="">
                            </div>
                            <div class="meetup-details">
                                <h3>{{meetup_items.title}}</h3>
                                <address>{{meetup_items.location}}</address>
                            </div>
                        </div>
                    </article>
                </li>
                {% endfor %}
            </ol>
        </section>
    </main>
</body>

</html>