{% extends 'meetups/base/base.html' %}{% load static %}{% block title %}You registered successfully{% endblock %}{%block site_css %}
<link rel="stylesheet" href="{% static 'meetups/styles/registration-confirmation.css' %}">{% endblock %}{%block main_heading %}Thanks for signing up!{% endblock %}{% block body %}
<section>
    <h2>
        You registered successfully
    </h2>
    <p>
        See you at the meetup!
    </p>
</section>
<section>
    <p>
        Ofcourse you can explore more meetups!
    </p>
</section>>{% endblock %}